# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI=
DB_NAME = 
# Redis (Upstash)
REDIS_HOST =
REDIS_PORT = 
REDIS_USERNAME = 
REDIS_PASSWORD = 

# Firebase Admin SDK
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour-private-key\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com

# Gemini AI
GEMINI_API_KEY=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
